DB_PASS=postgres
JWT_SECRET=7EDUTeacherBotSecretKeyForJWTTokenGeneration2024VeryLongSecretKey
MAIL_USER=kimsanov0717@gmail.com
MAIL_PASS=vybh ksbh zwtw bxgk
CLICK_MERCHANT_ID=24180
CLICK_SERVICE_ID=31879
CLICK_SECRET_KEY=LuGG43iQVdGSWZDiY
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
